<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>FakeSlack</title>
</head>

<body>
  <ul class="messages">
  </ul>
  <form id="submit-message">
    <input type="text" name="user" placeholder="Your name" autocomplete="off"></input>
    <input type="text" name="content" placeholder="Enter your message" autocomplete="off"></input>
    <input type="submit" value="Submit"></input>
  </form>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="/js/script.js"></script>
</body>

</html>