<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>FakeSlack</title>
</head>

<body>
  <p>Use the api routes "/send" & "/messages". See <a href="https://github.com/TpTScriptEd/04-fake-slack-client">https://github.com/TpTScriptEd/04-fake-slack-client</a> for more details.</p>
</body>

</html>